<app-header [title]="title"></app-header>
<body [hidden]="showRegistration || showLogin">
    <button mat-raised-button (click)="showLogin = true;">Login</button>
    <button mat-raised-button (click)="showRegistration = true;">Register</button>
</body>
<app-user-registration [hidden]="!showRegistration" [showRegistration]="showRegistration" (hideRegistration)="hideRegistration()"></app-user-registration>
<app-login [hidden]="!showLogin" [showLogin]="showLogin" (hideLogin)="hideLogin()"></app-login>
<app-footer></app-footer>